.partner-container {
    height: 85vh;
    margin-bottom: -100px;
}
.partner-bg{
    background-image: url("https://myxpresspay.com:8095/partnerBg.svg"); 
    background-size: content;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.partner-text {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    color: white;
}

.partner-p {
    margin-left: -100px;
}

.partner-text p {
    font-size: 80px;
    text-align: left;
    font-weight: 600;
}

.partner-text button {
    border-radius: 8px;
    font-size: 16px;
    padding: 14px 24px;
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
}