.partner-container {
    margin-top: -120px;
}
.partner-bg{
    background-image: url("https://myxpresspay.com:8095/partnerBg.svg"); 
background-size: content;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.partner-text {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    border-radius: 12px;
    color: white;
}

.partner-text p {
    font-size: 100px;
    text-align: left;
    font-weight: 600;
}

.partner-text button {
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 24px;
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
}