.start-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: #000;
    /* margin-right: -100px; */
}

.start-square {
    background-color: #ff6a00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    width: 1100px;
    height: 350px;
    border-radius: 40px;
    position: relative;
    color: white;
}

.start-text {
    font-size: 42px;
    font-weight: 600;
    max-width: 450px;
    line-height: 1.4;

}

.start-square button {
    margin-top: 15px;
    background-color: darkgreen;
    color: white;
    padding: 18px 50px;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: #000;
}

.start-square button:hover {
    background-color: green;
    padding: 19px 55px;
    font-size: 19px;
}

.start-shapes {
    width: 250px;
    height: 270px;
    background-color: #e4ff1a;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}
.start-shapes svg {
    color: rgb(52, 97,255);
    font-size: 100px;

}
.start-thunder {
    /* position: absolute;
    width: 0;
    height: 0; */
    
    /* left: 60px;
    top: 130px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 25px solid #fff;
    transform: rotate(-30deg); */
}

.start-thunder::after {
    /* content: '';
    position: absolute;
    top: 20px;
    left: -14px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 25px solid #fff;
    transform: rotate(30deg); */
}

.start-arrow {
    /* position: absolute; */
    /* width: 50px;
    height: 50px;
    right: 60px;
    bottom: 50px;
    transform: rotate(-45deg); */
}

.start-arrow::before{ 
    /* content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background-color: white;
    top: 50%;
    left: 0; */
}

.start-arrow::after {
    /* content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid white;
    border-right: 4px solid white;
    top: 2px;
    right:  -4px;
    transform: rotate(45deg); */
}
